@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* background-image: url(images/bg-intro-desktop.png); */
    background: hsl(0, 100%, 74%);
    display: flex;
}

main {
    padding: 20px;
}

h1 {
    color: white;
    padding: 30px;
    text-align: center;
    font-weight: 700;
}

.description {
    color: white;
    text-align: center;
    margin-bottom: 40px;
}


.registration .blue-thing {
    text-align: center;
    padding: 15px;
    background-color: hsl(248, 32%, 49%);
    color: white;
    margin-bottom: 25px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

input {
    padding: 13px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}

input:focus {
    outline: none;
}

button {
    padding: 13px;
    background-color: hsl(154, 59%, 51%);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form p {
    color: hsl(246, 25%, 77%);
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

form p a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 600;
}

.error1,
.error2,
.error3,
.error4 {
    font-size: 13px;
    color: red;
}

/* .icon {
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}    */

@media (min-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 100%;
    }

    h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .description {
        max-width: 500px;
    }

    .registration {
        max-width: 500px;
    }

    form {
        padding: 30px;
    }

    input {
        margin-bottom: 18px;
    }
}