@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error-text,
.error-icon {
    display: none;
}

.field-group.error .error-text,
.field-group.error .error-icon {
    display: block;
}

.field-group.error input {
    border: 2px solid hsl(0, 100%, 74%);
}

body {
    min-height: 100vh;
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    display: flex;
}

main {
    padding: 20px;
}

h1 {
    color: white;
    padding: 30px;
    text-align: center;
    font-weight: 700;
}

.description {
    color: white;
    text-align: center;
    margin-bottom: 40px;
}


.registration .blue-thing {
    text-align: center;
    padding: 15px;
    background-color: hsl(248, 32%, 49%);
    color: white;
    margin-bottom: 25px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

.field-group {
    position: relative;
}

input {
    padding: 13px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

input::placeholder {
    font-weight: 600;
}

input:focus {
    border: 1.5px solid hsl(249, 10%, 26%);
}

button {
    padding: 13px;
    background-color: hsl(154, 59%, 51%);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

form p {
    color: hsl(246, 25%, 77%);
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

form p a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 600;
}

.error-icon {
    position: absolute;
    right: 15px;
    top: 25%;
    width: 20px;
}

.error-text {
    text-align: right;
    font-size: 12px;
    font-style: italic;
    color: hsl(0, 100%, 74%);
    font-weight: 500;
}

@media (min-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 100%;
    }

    h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .description {
        max-width: 500px;
    }

    .registration {
        max-width: 500px;
    }

    form {
        padding: 30px;
    }
}